@import "compass/reset";
@import "compass/css3";
@import "_animate";
@import "_mixins";


//for global style
body{
  font-size: 0.32rem;
  color: #fff;
  line-height: 1.5;
  font-family:"Microsoft YaHei", sans-serif;
}
img{
  width: 100%;
}
.show{
  display: block !important;
}

.common-bg{
  .logo{
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    @include size(2.09rem,0.51rem);
    background: url("/images/theme-thanksgiving/logo.png?v=0.1") no-repeat;
    background-size: 100%;
  }
}

//for page-1
.page,.wrapper{
  position: absolute;
  @include size(100%,100%);
  left: 0;
  top: 0;
  overflow: hidden;

}
.wrapper{
  background: url("/images/theme-thanksgiving/bg-4.jpg?v=0.1") no-repeat;
  background-size: 100% 100%;
  min-height: 11rem;
  &.bg-1{
    background: url("/images/theme-thanksgiving/bg-3.jpg?v=0.1") no-repeat;
    background-size: 100% 100%;
  }
}

.page{
  .p2-result{
    position: relative;
    text-align: center;
    font-size: 0.5rem;
    color: #5770c7;
    @include size(6.06rem,1.04rem);
    background: url("/images/theme-thanksgiving/text-2.png?v=0.1") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto 0.2rem;
    .num{
      position: absolute;
      left: 2.2rem;
      top: -0.2rem;
      @include size(0.6rem,0.76rem);
      background: url("/images/theme-thanksgiving/number.png?v=0.1") no-repeat;
      background-size: 100%;
      background-position: 0% 100%;
      &.num-1{
        background-position: 0% 88%;
      }
      &.num-2{
        background-position: 0% 78%;
      }
      &.num-3{
        background-position: 0% 67%;
      }
      &.num-4{
        background-position: 0% 55%;
      }
      &.num-5{
        background-position: 0% 44%;
      }
      &.num-6{
        background-position: 0% 33%;
      }
      &.num-7{
        background-position: 0% 21%;
      }
      &.num-8{
        background-position: 0% 11%;
      }
      &.num-9{
        background-position: 0% 0%;
      }
      &.num-no{
        background: transparent;
        font-size: 0.5rem;
        top: -0.1rem;
        left: 2.2rem;
        color: #89501e;
      }
    }
  }
  .p3-result{
    @include size(5.67rem,1.42rem);
    background: url("/images/theme-thanksgiving/text-3.png?v=0.1") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .p2-3{
    font-size: 0.26rem;
    color: #5770c7;
    text-align: center;
  }
  .p5-1{
    @include size(7.11rem,8.92rem);
    margin: 0.3rem auto 0.6rem;
  }
}

.page-1{
  .qrcode{
    display: none;
    @include size(5.59rem,6.11rem);
    margin: 2rem auto 0;
  }
  .inner{
    display: none;
  }
  .p1-1{
    @include size(5.62rem,8.51rem);
    margin: 1.8rem auto 0.4rem;
  }
  .btn-join{
    @include size(2.47rem,0.73rem);
    background: url("/images/theme-thanksgiving/p1-button.png?v=0.1") no-repeat;
    background-size: 100%;
    margin: 0 auto;
    text-indent: -999em;
  }
}

.page-2{
  .p2-1{
    @include size(5.62rem,2.16rem);
    margin: 1.5rem auto 0.5rem;
  }
  .p2-2{
    @include size(6.85rem,5.43rem);
    margin: 0rem auto 0.6rem;
  }
}

.page-3{
  .p3-1{
    @include size(6.68rem,8.83rem);
    margin: 1.5rem auto 0.4rem;
  }
  .p3-2{
    position: absolute;
    top: 2.8rem;
    left: 50%;
    width: 3.54rem;
    height: 7.19rem;
    color: #6b7cb8;
    margin-left: -1.77rem;
    text-align: center;
    font-size: 0.42rem;
  }
  .btn-fillform{
    @include size(2.47rem,0.73rem);
    margin: 0 auto;
  }
}

.page-4{
  .p4-1{
    @include size(6.85rem,7.77rem);
    margin: 1.7rem auto 0.7rem;
  }
}

// for page-6
.page-6{
  .p6-1{
    display: none;
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: 10;
    @include size(100%,100%);
    background: rgba(0,0,0,0.8);
    &.active{
      display: block;
    }
    img{
      @include size(5.96rem,4.31rem);
      float: right;
      margin-top: 0.2rem;
    }
  }
  .p6-2{
    margin: 2.1rem auto 0.6rem;
    @include size(3.01rem,1.47rem);
  }

}
#form-address{
  position: relative;
  @include size(6rem,5.5rem);
  margin: 0 auto;
  text-align: center;
  .input-box{
    //margin-bottom: 0.4rem;
    padding-bottom: 0.5rem;
    position: relative;
    input[type="text"],input[type="number"],select{
      font-size: 0.34rem;
      color: #813e1a;
      border: none;
      border-bottom: #813e1a 1px solid;
      padding: 0.1rem;
      background: transparent;
      text-align: center;
      -webkit-appearance: none;
      @include vendor-prefix(border-radius,0);
    }
    .input-province{
      padding-right: 0.6rem;
      margin-left: 0.3rem;
      background: url("/images/theme-thanksgiving/select.png?v=0.1") right center no-repeat;
      background-size: contain;
      text-align: center;
      text-indent: 30%;
      min-width: 3rem;
    }
  }

  .btn-submit{
    @include size(2.47rem,0.73rem);
    position: absolute;
    bottom: -1rem;
    left: 50%;
    margin-left: -1.23rem;
  }
  .error{
    font-size: 0.2rem;
    padding-top: 0.1rem;
    color: #f55555;
    position: absolute;
    bottom: 0.1rem;
    width: 100%;
    text-align: center;
  }
  .input-province option{
      color: #b4bbc4;
  }
}

::-webkit-input-placeholder {
  color: #cbbab2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cbbab2;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #cbbab2;
}

:-ms-input-placeholder {
  color: #cbbab2;
}


